div{
    background-color: aqua; 
    width: 100px;
    height: 100px; 
    border: 2px solid black ;
    display: inline-block;
  }
  
  #Box2{
    background-image: url("..//cat_image.jpg");
    background-size: contain;
  }
