body{
    text-align: center;
    
}

div{
    
    border: 2px solid black;
    width: 100px;
    height: 100px;
    display: inline-block;
    display:flex;
    /* flex-direction: row;   */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    flex-direction: column-reverse;
}
#container{
width: 800px;
height: 200px;
}

#box1{
    background-color: aqua;
}

#box2{
    background-color: pink;
}

#box3{
    background-color: chocolate;
}
#box4{
    background-color: brown;
}
#box5{
    background-color: blue;
}