
#logo{
    color:#f08804;
    
}

#navbar{
    background-color: black;
    height:60px;
}

a{
    margin-right: 200px;
    color:antiquewhite;
}
button{
    background-color: #f08804;
}                          
.contentBox{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}
#content{
    height: 500px;
}
  
footer{
    text-align: center;
    color: white;
    background-color: black;
}